nelmio_cors:
    defaults:
        origin_regex: false
        allow_origin: ['%env(CORS_ALLOWED_ORIGINS)%']
        allow_methods: ['GET', 'OPTIONS', 'POST', 'PUT', 'PATCH', 'DELETE']
        allow_headers: ['Content-Type', 'Authorization']
        expose_headers: ['Link']
        max_age: 3600
    paths:
        '^/api/':
            allow_origin: [ '%env(CORS_ALLOWED_ORIGINS)%' ]
            allow_methods: [ 'GET', 'POST', 'PATCH', 'DELETE', 'PUT', 'OPTIONS' ]
