@import "tailwindcss";

:root {
  scroll-behavior: smooth;

  --foreground: #ffffff;
  --background: #111435;
  --primary: #fea70a;

  /* Utopia scale */
  --step--2: clamp(1rem, 0.5rem + 1.0038vw, 1.2rem);
  --step--1: clamp(1.25rem, 0.9543rem + 1.3143vw, 2.4rem);
  --step-0: clamp(1.5rem, 1.1143rem + 1.7143vw, 3rem);
  --step-1: clamp(1.8rem, 1.2986rem + 2.2286vw, 3.75rem);
  --step-2: clamp(2.16rem, 1.5101rem + 2.8886vw, 4.6875rem);
  --step-3: clamp(2.592rem, 1.7518rem + 3.7341vw, 5.8594rem);
  --step-4: clamp(2.9rem, 2.0268rem + 4.8158vw, 6.3rem);
  --step-5: clamp(3.7325rem, 2.338rem + 6.1975vw, 9.1553rem);
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --font-sans: var(--font-inter);
}

body {
  background: var(--background);
  color: var(--foreground);
}
