/* Global setup for font adjustments */
.titleOrg,
.titleSchoolText {
  line-height: 1.1;
  margin: 0;
  font-size: var(--step-4);
  font-weight: 700;
}

.heroSection {
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;

  display: grid;
  grid-template-rows: 15%;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right";

  background-image: radial-gradient(
    1000px circle at center,
    #121639 0%,
    #000000 100%,
    #1c1f45 100%
  );

  background-repeat: no-repeat;
}

.header {
  grid-area: header;
  position: fixed;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 2rem 3rem;
  width: 100vw;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: #121639;
  padding: 0.5rem 1.5rem;
  border-radius: 1rem;

  a {
    font-size: 0.95rem;
    text-decoration: none;
    font-weight: 700;
    letter-spacing: 1.15px;
  }

  a:hover {
    opacity: 0.8;
  }
  
  .registerBtn {
    padding: 0.5rem 1.5rem;
    background-color: #fea70a;
    border-radius: 0.75rem;
    color: #ffffff;
    font-weight: 600;
    cursor: pointer;
  }
}

/* Hero Left Wrapper*/
.heroTitle {
  grid-area: left;
  justify-self: center;
  justify-items: center;

  display: flex;
  flex-direction: column;

  gap: 0.25em;
  height: auto;
  padding-top: 5%;
}

/* Used on desktop */
.heroImageWrapper {
  grid-area: right;
  justify-self: center;
  max-width: 100%;
  height: auto;
}

/* TITLES */
.titleOrg {
  color: #df4c21;
  max-width: 90%;
  -webkit-text-stroke: 2px #fea70a;
}
.titleSchoolText {
  color: #007083;
  -webkit-text-stroke: 2px #b0f2fe;
}
.heroDescription {
  font-size: var(--step--2);
  font-weight: 500;
  color: #e99806;
  max-width: 500px;
}
.heroDate {
  font-size: var(--step--2);
  font-weight: 500;
  color: #00d0f3;
}

@media screen {
  /* Mobile Elements (Hidden) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: none;
  }
}

/* Desktop Size */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

/* Transition between Desktop - Tablet */
@media (max-width: 768px) {
}

/* Tablet Size */
@media (max-width: 640px) {
  /* Desktop Elements (Hidden) */
  .heroImageWrapper {
    display: none;
  }

  /* Mobile Elements (Display) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: block;
  }

  .heroSection {
    grid-template-rows: 10%;
  }

  .heroSection {
    grid-template-areas:
      "header header"
      "left left";
  }

  .titleSchoolLogoWrapper {
    display: grid;
    grid-template-areas:
      "UNLV2026 VegasSign"
      "RedDiamond VegasSign";

    grid-template-columns: min-content 1fr;
    grid-template-rows: auto auto;
  }

  .titleSchoolText {
    grid-area: UNLV2026;
  }

  .vegasSign {
    grid-area: VegasSign;
    grid-column: 3 / 1;
    margin-left: 14%;
    margin-right: 10%;
  }
  .redDiamond {
    grid-area: RedDiamond;
    grid-row: 3 / 1;
    margin-top: 120%;
  }

  .titleOrgWrapper {
    display: grid;
    grid-template-areas: "title heart";
  }
  .titleOrg {
    grid-area: title;
  }

  .orangeHeart {
    min-width: 100px;
    min-height: 40px;

    grid-area: heart;
    align-self: end;
    rotate: z 15deg;
  }

  .descriptionDateWrapper {
    display: grid;
    grid-template-areas:
      "description OrangeDiamond"
      "date OrangeDiamond"
      "BlueAce BlueAce";
    margin-bottom: 20%;
  }

  .heroDescription {
    grid-area: description;
    font-weight: 600;
  }

  .heroDate {
    grid-area: date;
    margin-top: 3%;
    font-weight: 600;
  }

  .orangeDiamond {
    grid-area: OrangeDiamond;
  }

  .blueAce {
    grid-area: BlueAce;
  }
}

/* Mobile */
@media (max-width: 486px) {
  .navLink {
    display: none;
  }

  .heroSection {
    grid-template-rows: 10%;
  }
}
