/* Global setup for font adjustments */
.titleOrg,
.titleSchoolText {
  line-height: 1.1;
  margin: 0;
  font-size: var(--step-4);
  font-weight: 700;
}

.heroSection {
  padding-left: 1rem;
  padding-right: 1rem;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right";

  background: radial-gradient(circle at top, transparent, #080808 65%);

  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
}

.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;

  font-size: 1rem;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 1.15px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  color: white;
}

.nav a:hover {
  opacity: 0.8;
}

.buttonWrapper {
  display: flex;
  gap: 2rem;

  .loginBtn {
  }

  .registerBtn {
    padding: 0.5rem 1.5rem;
    background-color: #fea70a;
    border-radius: 0.75rem;
    color: #ffffff;
    cursor: pointer;
  }
}

/* Hero Left Wrapper*/
.heroTitle {
  grid-area: left;
  justify-self: center;
  justify-items: center;

  grid-area: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
  max-width: 520px;
}

/* Used on desktop */
.heroImageWrapper {
  grid-area: right;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
}

/* TITLES */
.titleOrg {
  color: #df4c21;
  max-width: 90%;

}
.titleSchoolText {
  color: #007083;
 
}

.heroDescription {
  font-size: var(--step--2);
  font-weight: 400;
  color: #e99806;
  max-width: 500px;
}

.heroDate {
  font-size: var(--step--2);
  font-weight: 400;
  color: #00d0f3;
}

@media screen {
  /* Mobile Elements (Hidden) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: none;
  }
}

/* Desktop Size */
@media (max-width: 1536px) {
}

@media (max-width: 1280px) {
}

@media (max-width: 1024px) {
}

/* Transition between Desktop - Tablet */
@media (max-width: 768px) {
}

/* Tablet Size */
@media (max-width: 640px) {
  /* Desktop Elements (Hidden) */
  .heroImageWrapper {
    display: none;
  }

  /* Mobile Elements (Display) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: block;
  }

  .heroSection {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "left";
  }

  .header {
    padding: 0.25rem 0.75rem;
  }

  .header > * {
    font-size: small;
  }

  .heroTitle {
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .titleSchoolLogoWrapper {
    display: grid;
    grid-template-areas:
      "UNLV2026 VegasSign"
      "RedDiamond VegasSign";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .titleSchoolText {
    grid-area: UNLV2026;
  }

  .vegasSign {
    grid-area: VegasSign;
    grid-column: 3/1;
    margin-left: 20%;
  }
  .redDiamond {
    grid-area: RedDiamond;
    grid-row: 3 / 1;
    margin-top: 120%;
  }

  .titleOrgWrapper {
    display: grid;
    grid-template-areas: "title heart";
  }
  .titleOrg {
    grid-area: title;
  }

  .orangeHeart {
    min-width: 100px;
    min-height: 40px;

    grid-area: heart;
    align-self: end;
    rotate: z 15deg;
  }

  .descriptionDateWrapper {
    display: grid;
    grid-template-areas:
      "description OrangeDiamond"
      "date OrangeDiamond"
      "BlueAce BlueAce";
    margin-bottom: 10%;
  }

  .heroDescription {
    grid-area: description;
    font-weight: 600;
  }

  .heroDate {
    grid-area: date;
    margin-top: 3%;
    font-weight: 600;
  }

  .orangeDiamond {
    grid-area: OrangeDiamond;
  }

  .blueAce {
    grid-area: BlueAce;
  }
}

@media (max-width: 536px) {
  .nav a {
    display: none;
  }
}

/* Mobile */
@media (max-width: 486px) {
  .heroSection {
    grid-template-rows: 10%;
  }
}
