/* Global setup for font adjustments */
.titleOrg,
.titleSchoolText {
  line-height: 1.1;
  margin: 0;
  font-size: var(--step-5);
  font-weight: 700;
}

.heroSection {
  padding-left: 1rem;
  padding-right: 1rem;

  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "header header"
    "left right";

  background: transparent;
  min-height: 100svh;
}

.header {
  grid-area: header;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 1rem 3rem;

  font-size: var(--step--2);
  text-decoration: none;
  font-weight: 600;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.nav a:hover {
  opacity: 0.8;
}

.navLink {
  color: white;
  letter-spacing: 1px;
}

.buttonWrapper {
  display: flex;
  gap: 2rem;
}

.loginBtn {
  color: #ffffff;
}

.registerBtn {
  padding: 0.5rem 1.5rem;
  background-color: #fea70a;
  box-shadow: 0 0 14px #fea70a99;
  border-radius: 0.75rem;
  color: #ffffff;
  cursor: pointer;
}

.heroTitle {
  grid-area: left;
  justify-self: center;
  justify-items: center;

  grid-area: left;

  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 0.5rem;
  max-width: 520px;
}

/* TITLES */
.titleOrg {
  color: #ff4d5a;
  text-shadow:
    0 0 10px rgba(255, 77, 90, 0.35),
    0 0 20px rgba(255, 77, 90, 0.2);
  margin-bottom: 0.5rem;
  font-weight: 800;
  letter-spacing: 0.02em;
  line-height: 0.95;
}

.titleSchoolText {
  color: #00d0f3;
  text-shadow: 0 0 16px rgba(0, 208, 243, 0.4);
  font-weight: 600;
  letter-spacing: 0.02em;
  font-size: 70% of REBEL HACKS;
  max-width: min-content;
}

.heroDescription {
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--sub-text);
}

.heroDate {
  font-size: var(--step-0);
  font-weight: 400;
  color: var(--sub-text);

  margin-top: 2%;
}
/* Used on desktop */
.heroImageWrapper {
  grid-area: right;

  display: flex;
  align-items: center;
  justify-content: center;

  max-width: 100%;
}

@media screen {
  /* Mobile Elements (Hidden) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: none;
  }
}


/* Tablet Size */
@media (max-width: 640px) {
  /* Desktop Elements (Hidden) */
  .heroImageWrapper {
    display: none;
  }

  /* Mobile Elements (Display) */
  .vegasSign,
  .redDiamond,
  .orangeHeart,
  .orangeDiamond,
  .blueAce {
    display: block;
  }

  .heroSection {
    grid-template-columns: 1fr;
    grid-template-areas:
      "header"
      "left";
  }

  .header {
    padding: 1rem 0.75rem;
  }

  .heroTitle {
    justify-content: flex-start;
    padding-top: 2rem;
  }

  .titleSchoolLogoWrapper {
    display: grid;
    grid-template-areas:
      "UNLV2026 VegasSign"
      "RedDiamond VegasSign";

    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
  }

  .titleSchoolText {
    grid-area: UNLV2026;
  }

  .vegasSign {
    grid-area: VegasSign;
    grid-column: 3/1;
    margin-left: 25%;
  }
  .redDiamond {
    grid-area: RedDiamond;
  }

  .titleOrgWrapper {
    display: grid;
    grid-template-areas: "title heart";
  }
  .titleOrg {
    grid-area: title;
  }

  .orangeHeart {
    min-width: 100px;
    min-height: 40px;

    grid-area: heart;
    align-self: end;
    rotate: z 15deg;
  }

  .descriptionDateWrapper {
    display: grid;
    grid-template-areas:
      "description OrangeDiamond"
      "date OrangeDiamond"
      "BlueAce BlueAce";
    margin-bottom: 10%;
  }

  .heroDescription {
    grid-area: description;
    font-weight: 400;
  }

  .heroDate {
    grid-area: date;
    margin-top: 3%;
    font-weight: 400;
  }

  .orangeDiamond {
    grid-area: OrangeDiamond;
  }

  .blueAce {
    grid-area: BlueAce;
  }
}

@media (max-width: 536px) {
  .nav a {
    display: none;
  }
  .loginBtn,
  .registerBtn {
    display: none;
  }

  .titleSchoolLogoWrapper {
    margin-top: -20px;
  }
  .vegasSign {
    margin-left: 28%;
    width: 300px;
  }
}

@media (max-width: 465px) {
  .titleOrg,
  .titleSchoolText {
    font-size: 58px;
  }

  .vegasSign {
    margin-left: 26%;
  }
}

/* Mobile */
@media (max-width: 390px) {
  .heroSection {
    grid-template-rows: 10%;
  }
  /* Fixes viewport on iphone se */
  @media (max-height: 670px) {
    .descriptionDateWrapper {
      margin-top: -40px;
    }
  }

  .titleSchoolText,
  .titleOrg {
    font-size: 48px;
    margin: 0;
  }
  .titleSchoolLogoWrapper {
    margin-top: -40px;
  }
  .vegasSign {
    margin-left: 24%;
    width: 240px;
  }
}

.tracksSection {
  padding: 1rem 1.5rem;
}

@media (max-width: 376px) {
  .heroDescription {
    font-size: 18px;
  }

  .vegasSign {
    margin-left: 26%;
  }
  .heroDate {
    font-size: 18px;
  }
}
