.about {
  min-height: 100vh;

  padding: 1rem;
  background: transparent;
}

.intro {
  min-height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

.intro h1 {
  color: #00d0f3;
  font-size: var(--step-0);
  font-weight: 700;
  margin-bottom: 30px;
  display: inline-block;
}

.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.card1,
.card2,
.card3 {
  width: 180px;
  height: 260px;

  display: flex;
  align-items: center;
  justify-content: center;

  background: linear-gradient(to bottom, #0b0b0b, #121212, #0b0b0b);

  border-radius: 1.25rem;
  border: 1px solid rgba(255, 255, 255, 0.12);

  color: #ffffff;
  font-weight: 600;
}

.tracks {
  min-height: 50vh;
}

.trackCS,
.trackCE {
  background-color: var(--primary);
  color: var(--foreground);
  padding: 2rem;
  border-radius: 1rem;
  min-width: 250px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(254, 167, 10, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
