.about {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background-color: #080808;

  /* background-image: radial-gradient(
    circle at bottom left,
    #111435 0%,
    transparent 50%
  ); */
}
.intro {
  min-height: 50vh;
  h1 {
    color: #ffffff;
  }
  p {
    color: #e0e0e0;
    
  }
}

.tracks {
  min-height: 50vh;
}

.trackCS,
.trackCE {
  background-color: var(--primary); /* neon orange for your theme */
  color: var(--foreground);
  padding: 2rem;
  border-radius: 1rem;
  min-width: 250px;
  max-width: 300px;
  text-align: center;
  box-shadow: 0 0 20px rgba(254, 167, 10, 0.5);
  transition: transform 0.3s, box-shadow 0.3s;
}
