.faqWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;

  padding: 2rem 1rem;
  min-height: 100vh;
  background: transparent;
}

.faqHeader {
  font-size: var(--step-0);
  font-weight: 700;

  color: var(--sub-header);
  margin-bottom: 2rem;
}

.accordionCardWrapper {
  width: 100%;
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordionCard:hover {
  box-shadow: 0 0 10px rgba(254, 167, 10, 0.3);
}

.accordionCard {
  background: linear-gradient(
    135deg,
    rgba(18, 22, 57, 0.9),
    rgba(8, 8, 8, 0.9)
  );

  border-radius: 1rem;
  overflow: hidden;
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1rem 1.5rem;
  cursor: pointer;
}

.question {
  flex: 1;
  font-weight: 600;
  font-size: var(--step--2);
  color: var(--sub-text);
}

.answerWrap {
  max-height: 0;
  overflow: hidden;
  opacity: 0;
  transition: max-height 250ms ease, opacity 200ms ease;
}

.open {
  max-height: 250px;
  opacity: 1;
}

.answer {
  margin: 0;
  padding: 0 1.5rem 1rem 1.5rem;
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.6rem;
}

.chevronWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevronIcon {
  stroke: var(--primary);
  stroke-width: 48;

  transform: rotate(0deg);
  transition: transform 700ms cubic-bezier(0.22, 1, 0.36, 1);
  transform-origin: 50% 50%;
}

.chevronOpen {
  transform: rotate(180deg);
}
