.faqWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start; /* start from top for scrollable FAQ */
  padding: 2rem 1rem;
  background: transparent;
}

.faqHeader {
  font-size: var(--step-0);
  font-weight: 700;

  color: var(--sub-header);
  margin-bottom: 2rem;
}

.accordionCardWrapper {
  width: 100%;
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordionCard {
  background: linear-gradient(
    135deg,
    rgba(18, 22, 57, 0.9),
    rgba(8, 8, 8, 0.9)
  );

  border-radius: 1rem;
  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;

  .accordionCard:hover {
    box-shadow: 0 0 10px rgba(254, 167, 10, 0.3);
  }
}

.button {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1rem 1.5rem;
  cursor: pointer;

  transition: background 0.2s ease;
}

.question {
  flex: 1;
  font-weight: 600;
  font-size: var(--step--2);
  color: var(--sub-text);
}

.answer {
  padding: 0 1.5rem 1rem 1.5rem;
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.6rem;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(254, 167, 10, 0.2);
  transition: all 0.3s ease;
}

.chevronWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;

  .chevronIcon {
    width: 1.5rem;
    height: 1.5rem;
    stroke-width: 48;
    stroke: var(--primary);
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;

    .chevronOpen {
      transform: rotate(180deg);
    }
  }
}
