.faqWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  /* background-color: #080808; */
  /* background-image: radial-gradient(
    circle at center left,
    #111435 0%,
    transparent 50%
  ); */
}

.accordionHeader {
  font-size: var(--step-0);
  font-weight: bold;
  text-align: center;
  color: var(--primary);
  padding: 1.5rem;
}

.accordionCard {
  width: 100%;
  max-width: 42rem;
  overflow: hidden;
}

.accordionButton {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1rem; /* p-4 */
  cursor: pointer;
  transition: background 0.2s ease;
}

.accordionQuestion {
  flex: 1;
  font-weight: bold;
  color: var(--primary);
}

.accordionAnswer {
  padding: 1rem;
  padding-top: 0;
  color: white;
  font-size: 1rem;
  line-height: 1.5rem;
}

.chevronWrapper {
  width: 1.2rem;
  height: 1.2rem;
}

.chevronIcon {
  width: 1.2rem;
  height: 1.2rem;
  stroke-width: 48;
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;

  transform: rotate(0deg); /* initial state */
  transition: transform 300ms ease-in-out;
}

.chevronOpen {
  transform: rotate(180deg);
}
