.faqWrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  align-items: center;
  justify-content: flex-start; /* start from top for scrollable FAQ */
  padding: 2rem 1rem;
  background-color: #080808;
  background-image: radial-gradient(
      circle at bottom left,
      #111435 0%,
      transparent 40%
    ),
    radial-gradient(circle at 120% 15%, #111435 0%, transparent 40%);
}

.accordionHeader {
  font-size: var(--step-0);
  font-weight: 700;

  color: var(--primary);
  margin-bottom: 2rem;
}

.accordionCard {
  width: 100%;
  max-width: 42rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.accordionItem {
  background-color: #111435;
  border-radius: 1rem;

  overflow: hidden;
  transition: transform 0.2s ease, box-shadow 0.2s ease;
}

.accordionItem:hover {
  box-shadow: 0 0 10px rgba(254, 167, 10, 0.3);
}

.accordionButton {
  display: flex;
  align-items: center;
  width: 100%;
  text-align: left;
  padding: 1rem 1.5rem;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  transition: background 0.2s ease;
}

.accordionQuestion {
  flex: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: var(--primary);
}

.accordionAnswer {
  padding: 0 1.5rem 1rem 1.5rem;
  color: #f5f5f5;
  font-size: 1rem;
  line-height: 1.6rem;
  background: rgba(0, 0, 0, 0.1);
  border-top: 1px solid rgba(254, 167, 10, 0.2);
  transition: all 0.3s ease;
}

.chevronWrapper {
  width: 1.5rem;
  height: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

.chevronIcon {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 48;
  stroke: var(--primary);
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  transform: rotate(0deg);
  transition: transform 0.3s ease-in-out;
}

.chevronOpen {
  transform: rotate(180deg);
}

/* Fixes gradient spotting on background */
@media (max-width: 650px) {
  .faqWrapper {
    background-image: radial-gradient(
        circle at bottom left,
        #111435 0%,
        transparent 40%
      ),
      radial-gradient(circle at 110% 15%, #111435 0%, transparent 40%);
  }
}
